@model ComputProject.Models.TVs

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>TVs</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.marca)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.marca)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.modelo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.modelo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.color)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.color)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.size)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.size)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.year)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.year)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Stores)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Stores.Address)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.tvId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
